/* ==UserStyle==
@name           9anime - Purple & grey theme
@namespace      gitlab.com/CodyMKW/purple-9anime
@version        1.0.1
@description    Makes 9anime purple and grey again!
@homepageURL https://www.reddit.com/r/9anime/comments/w4tzei/custom_ui_theme
@supportURL https://www.reddit.com/r/9anime/comments/w4tzei/custom_ui_theme
@author         Kade (https://www.reddit.com/user/Kaito-Yagami/)
==/UserStyle== */

@-moz-document domain("9anime.id"), domain("9anime.to"), domain("9anime.pl") {
body{background-color: #0e0e0e;color:white;}
.home{background-color: #0e0e0e;}
header.fixed{background-color: #0A0A0A;box-shadow: 0px 7px 12px #070707;}
form{color: #1c1c1c;}
.dot+.dot:before{background-color:#525252;}
a{color: #8B72B2;}
a:hover{color: #5a2e98;}

header{color: #525252;background-color: #0e0e0e;}

header #user .sign-in{background-color: #5a2e98;border-color:#5a2e98;color:#ccc;}
header #user .sign-in:hover{background-color: #6230AD;border-color:#6230AD;color:#ccc;}

header #search form{background-color: #1c1c1c;color: #525252;}
#search .search-popup{background-color: #1c1c1c;color: #525252;border-color: #0e0e0e;}
#search .search-popup .foot{background-color: #1c1c1c;color: #525252;}  
header #search form input::placeholder{color: #525252!important;}
header #search form .tip .icon{color: #525252;}
.head-box{color: #525252;border-color: #525252;}
#search .search-popup .s-close{color: #525252;border-bottom: 1px solid #525252;}
.head-box .tabs-sm .tab.active:after, .head-box .tabs-sm .tab:hover:after{background: #525252;}
#search .search-popup .s-close:hover{color: #ccc;}
.head-box .actions .filter{color: #525252;}
.head-box .actions .filter:hover{color: #ccc;}
span{color: #525252;}
header #user span{color:#fff;}
input{color:#ccc;}
header #search form button, header #search form input{color:#525252;}
header #search form button:hover, header #search form input:hover{color:#ccc;}
form::placeholder{color:#ccc;}

header .main-menu{color: #525252}
header .main-menu:hover{color: #eeeeee}
header .main-menu:hover .icon, header .main-menu:hover i{color:#ccc}

button{background-color: #5a2e98;border-color:#5a2e98;}
button:hover{background-color: #6230AD;border-color:#6230AD;}

::-webkit-scrollbar-thumb{background-color: #2B2B2B;}
::-webkit-scrollbar-thumb:hover{background-color: #383838;}
::-webkit-scrollbar-track{background-color: #141414}

div.alert.alert-secondary.notice.mb-5{display:none;}

.btn-primary {background-color: #5a2e98;border-color:#5a2e98;}
.btn-primary:hover {background-color: #6230AD;border-color:#6230AD;}

.text-tabs .tab{color: #525252}
.text-tabs .tab.active, .text-tabs .tab:hover{color: #eeeeee}

#hotest .item .info .synopsis{color: #525252}
.meta.icons i.quality{background-color: #b6b6b6;}

.switch>span.active{color:#212529;background-color: #5a2e98;border-color: #0e0e0e;}
.switch>span{background-color: #1c1c1c;color: #525252;border-color: #0e0e0e;}
.switch>span:hover{background-color: #525252;color: #1c1c1c;border-color: #0e0e0e;}

.swiper-pagination-bullet{background-color: #525252;}
.swiper-pagination-bullet-active{background-color: #5a2e98;}

.tooltip{display:none;}
.logo {background: url(https://cdn.discordapp.com/attachments/894632537354272839/999766484811255808/9anime.png) no-repeat center}

.side.items .item .inner{background-color:#1c1c1c;}
.side.items .item .inner:hover{background-color:#2d2d2d;}
.ani.items .item .poster .meta{background-color:#1c1c1c;}
section#top-anime .side.items .item .info .name{color:#ccc;}

.head-box .tabs-sm .tab.active, .head-box .tabs-sm .tab{color:#525252;}
.ani.items .item .poster .meta{color:#525252;}
.ani.items .item .info .name{color:#525252;}
.ani.items .item .info .name:hover{color:#ccc;}
section .head .paging>span.disabled{color:#343434;}
section .head .paging>span{color:#525252;}
section .head .paging>span:hover{color:#ccc;}

section#top-anime .side.items .item.rank1 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795021169569853/1.png);}
section#top-anime .side.items .item.rank2 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795021526073365/2.png);}
section#top-anime .side.items .item.rank3 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795022050373643/3.png);}
section#top-anime .side.items .item.rank4 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795022385922209/4.png);}
section#top-anime .side.items .item.rank5 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795022851493888/5.png);}
section#top-anime .side.items .item.rank6 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795023275110541/6.png);}
section#top-anime .side.items .item.rank7 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795023719710800/7.png);}
section#top-anime .side.items .item.rank8 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795024063631440/8.png);}
section#top-anime .side.items .item.rank9 .inner .rank {background-image: url(https://cdn.discordapp.com/attachments/894632537354272839/999795020846600242/9.png);}
section#top-anime .side.items .item.rank1 .inner{border-right: 2px solid #5a2e98;}
section#top-anime .side.items .item.rank2 .inner{border-right: 2px solid #5a2e98;}
section#top-anime .side.items .item.rank3 .inner{border-right: 2px solid #5a2e98;}

.tabs{background-color:#1c1c1c;}
.tabs .tab{color:#0e0e0e;color:#525252}
.tabs .tab:hover{background-color:#2d2d2d;color:#525252}
.tabs .tab.active{color:#0e0e0e;background-color:#5a2e98;}
.ep-status.total {background: #525252;color:#0e0e0e}

.ani.poster>a:before {background: rgba(113,58,191, 0.4);}
.tooltipster-sidetip .tooltipster-box{background-color:#1c1c1c;}
.tooltipster-sidetip .tooltipster-content .title{color:#ccc;}
.tooltipster-sidetip .tooltipster-content{color:#D6D6D6;}
.tooltipster-sidetip .tooltipster-content .meta-bl>div span:first-child{color:#fff;}
a{color:#5a2e98}
a:hover{color:#fff}
.tooltipster-sidetip .tooltipster-content .meta-bl>div span:first-child{color:#969696;}

.tooltipster-sidetip .tooltipster-content .meta.icons{color:#fff}
.tooltipster-sidetip .tooltipster-content .actions .watch{background-color: #5a2e98;color: #ccc;}
.tooltipster-sidetip .tooltipster-content .actions .watch:hover{background-color: #6230AD;color: #fff;}
.tooltipster-sidetip .tooltipster-content .actions .favourite{}
.text-muted{color:#313131!important}

section.top-table .head .title {color:#ccc}
.text-light{color:#ccc!important;}
section.top-table .body .items .item{background-color:#1c1c1c;}
.scaff.items .item .info .name  {color:#ccc;}
section.top-table .body .items .item .info .meta span{color:#525252;}

section.top-table .head a.title:hover {color:#fff}
section.top-table .body .items .item:hover{background-color:#5a2e98;}
section.top-table .body .items .item:hover .info .name{color:#fff;}
section.top-table .body .items .item:hover .info .meta span{color:#ccc;}

footer .container{background: url(https://cdn.discordapp.com/attachments/894632537354272839/999821496249745458/footer.png) no-repeat center center;height:400px;}
footer .azlist ul li a{background-color: #1c1c1c;color:#ccc}
footer .azlist ul li a:hover{background-color: #5a2e98;color:#fff}
footer{background-color: #181818}

footer .azlist .head .desc{color:#525252;}
footer .copyright{color:#525252;}
footer .disclaimer{color:#525252;}
footer .inline-links label{color:#525252;}
footer .inline-links ul li a{color:#ccc;}
footer .inline-links ul li a:hover{color:#fff;}
.socials span{color:#ccc;}
footer .socials{background-color: #5a2e98;color:#ccc;}

section#schedule .head{background: #5a2e98;color:#fff}
section#schedule .head .days .items .day .inner:hover, section#schedule .head .days .items .day.active .inner{color:#ccc;}
section#schedule .head .days .items .day .inner{color:#1c1c1c;}

section#schedule .body{background: #1c1c1c;}
section#schedule .head .now{color:#1c1c1c;}
section#schedule .body .items a.old{color:#969696;}
section#schedule .body .items a{color:#ccc;}

section#schedule .body .items a:hover{background:#525252;color:#fff}
section#schedule .body .items a:hover .ep{background: #6230ad;color:#fff}

section#schedule .body .items a.old .ep{background: #5a2e98;}
section#schedule .body .items a .ep{background: #6230ad;color:#fff}

section#schedule .body .more{background: #141414;border: none;color:#525252;}
section#schedule .body .more:hover{background: #161616  ;border: none;color:#ccc;}

.ep span{color:#fff}
.now span{color: #1c1c1c}

header #menu>ul{background-color: #5a2e98}
header #menu>ul>li>a{color:#ccc}
header #menu>ul>li.active>a, header #menu>ul>li:focus-within>a, header #menu>ul>li:focus>a, header #menu>ul>li:hover>a{background-color: #6230AD;color:#fff}

header #menu>ul>li>ul{background-color: #1c1c1c;}
header #menu>ul>li>ul>li>a h2, header #menu>ul>li>ul>li>a h3, header #menu>ul>li>ul>li>a h4, header #menu>ul>li>ul>li>a span{color:#ccc;}
header #menu>ul>li>ul>li>a:hover h2, header #menu>ul>li>ul>li>a:hover h3, header #menu>ul>li>ul>li>a:hover h4, header #menu>ul>li>ul>li>a:hover span{background-color:#5a2e98; color:#fff;}

.modal-content{background-color: #1c1c1c; color:#525252;border: none;}
.modal-header{background-color: #0e0e0e; color:#525252}
.modal-header .modal-title{color:#ccc;}
.form-control{color:#fff;background-color: #0e0e0e;border:none;}
.form-control::placeholder{color:#1c1c1c}

#w-info .binfo .info .synopsis{color:#525252;}
#w-info .binfo .info .meta>div{color:#ccc;}
#w-info .binfo .info .meta>div>span{color:#525252;}
.shorting .toggle{color:#5a2e98;}
.shorting .toggle:hover{color:#6230AD;}
#w-info .binfo .info .names{color: #1c1c1c;}
#w-info .binfo .info .meta>div>span a{color: #5a2e98;}
#w-info .binfo .info .meta>div>span a:hover{color: #ccc;}

#w-info .brating .rating{background: url(https://cdn.discordapp.com/attachments/894632537354272839/999854663509745764/Feedback.png) no-repeat bottom right;background-size:contain;background-color: #1c1c1c;}
#w-info .brating .rating .score .value{color:#ccc}
.by span{color:#525252;}

#w-info .brating .rating .stars i:before, #w-info .brating .rating .stars span:before{color:#0e0e0e;}
#w-info .brating .rating .stars span.full i:before{color:#5a2e98;}
#w-info .brating .rating .stars span.half i:before{color:#5a2e98;}
#w-info .brating .rating .stars{background-color: #3A2659;}
#w-info .brating .rating .message{color:#525252;}

#w-player #w-servers .servers{background-color: #1c1c1c}
#w-player #w-servers .tip{background-color: #232323}
#w-player #controls{background-color: #1c1c1c}
#w-media #w-episodes{background-color: #1c1c1c}

.bsharing{display: none;}
.scaff.items .item:hover .info .name{color:#fff;}
.side.items .item .inner:hover{background-color:#5a2e98;}
.side.items .item .inner:hover span{color:#ccc;}
.side.items .item .inner:hover .dot+.dot:before{background-color:#ccc;}

#w-player #w-servers .tip b{color: #6230AD;}
#w-player #w-servers .tip{color: #ccc;}
#w-player #controls .ctrl{color: #ccc;}
#w-player #controls .ctrl:hover{color: #fff;}
.text-primary{color: #5a2e98!important;}

#w-episodes .head{border-bottom: #525252;}

#w-episodes .body .episodes.name ul li a{background-color: #141414;color:#ccc}
#w-episodes .body .episodes.name ul li a span{color: #fff}
#w-episodes .body .episodes.name ul li:nth-child(2n) a{background-color: #0F0F0F;color:#ccc}
#w-episodes .body .episodes.name ul li a span{color: #ccc}

#w-episodes .body .episodes.name ul li a:hover{background-color: #1E1828;color:#fff}
#w-episodes .body .episodes.name ul li:nth-child(2n) a.active{background-color: #5a2e98}

#w-player #w-servers .servers .type ul li{background-color: #525252;color: #ccc}
#w-player #w-servers .servers .type ul li:hover{background-color: #848484;color: #fff}
#w-player #w-servers .servers .type ul li.active{background-color: #5a2e98;color: #0e0e0e;}

.btn-secondary{background-color: #0F0F0F;color:#525252;border:1px solid #0F0F0F ;}
.btn-secondary:hover{background-color: #141414;color:#ccc!important;border:1px solid #141414 ;}
.btn-secondary.active{background-color:#ccc;}
.show>.btn-secondary.dropdown-toggle{background-color: #141414;color:#525252;border:1px solid #141414 ;}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover.form-control:focus{color:#ccc!important;}
.form-control::placeholder{color: #525252;}
.form-control:focus::placeholder{color: #747474;}
.btn-secondary:focus{background-color: #141414;color:#525252;border:1px solid #141414 ;}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #141414;color:#525252;border:1px solid #141414 ;}

#w-episodes .body .episodes.name ul li a:visited{background-color:#3D2368;color: #ccc;}
#w-episodes .body .episodes.name ul li a.active{background-color: #5a2e98;}
#w-player .alert.next-episode{background-color: #5a2e98;color: #ccc;}
#w-player .alert.next-episode span{;color: #ccc;}

.dropdown-menu{background-color: #0e0e0e;color: #ccc;}
.dropdown-item{color: #525252;}
.dropdown-item:hover{background-color:#1c1c1c;color: #ccc;}

.side.items .item .info .meta .score{color: #ccc;}
.display-modes .mode{color: #372057;}
.display-modes .mode.active, .display-modes .mode:focus, .display-modes .mode:focus-within, .display-modes .mode:hover {color:#5a2e98;}
.list-info{color: #372057;}

.filter .form-control{background-color: #1c1c1c;}

.filter .btn-secondary{background-color: #1c1c1c;color:#525252;border:1px solid #0F0F0F ;}
.filter .btn-secondary:hover{background-color: #141414;color:#ccc!important;border:1px solid #141414 ;}
.filter .btn-secondary.active{background-color:#ccc;}
.filter .show>.btn-secondary.dropdown-toggle{background-color: #141414;color:#525252;border:1px solid #141414 ;}
.filter .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover.form-control:focus{color:#ccc!important;}
.filter .form-control::placeholder{color: #525252;}
.filter .form-control:focus::placeholder{color: #747474;}
.filter .btn-secondary:focus{background-color: #141414;color:#525252;border:1px solid #141414 ;}
.filter .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color: #141414;color:#525252;border:1px solid #141414 ;}

.filter .dropdown-menu{background-color: #1c1c1c;color: #ccc;}
.filter .dropdown-item{color: #525252;}
.filter .dropdown-item:hover{background-color:#1c1c1c;color: #ccc;}

.dropdown-menu>li>label{color: #525252;}
.dropdown-menu>li>label:hover{color: #ccc;}
.dropdown-menu>.active>label, .dropdown-menu>.active>label:focus, .dropdown-menu>.active>label:hover, .dropdown-menu>li>input:checked~label, .dropdown-menu>li>input:checked~label:focus, .dropdown-menu>li>input:checked~label:hover{color:#5a2e98;}

.btn-primary{color: #0e0e0e;}
.submit.filter.w-auto span{color: #0e0e0e;}
.submit.filter.w-auto:hover span,.submit.filter.w-auto:hover .btn-primary{color: #fff;}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link{background-color:#372057;color:#ccc;}
.pagination .page-item:first-child .page-link:hover, .pagination .page-item:last-child .page-link:hover{background-color:#6230AD;color:#fff;}
.page-item.active .page-link{background-color: #5a2e98;color: #fff;}
.page-link{background-color: #1c1c1c;color: #ccc;}
.page-link:hover{background-color: #525252;color: #fff;}
.page-item.disabled .page-link{background-color: #1c1c1c;color: #ccc;}

.top-profile .notify .toggler.active:before{background:#5a2e98;}
.top-profile .notify .toggler:hover{color:#5a2e98;}
.top-profile .notify .user-notification{background: #1c1c1c;border: 1px solid #0e0e0e;}
.badge-light2{color: #372057;background-color: #6C4D97;}
.user.dropdown .dropdown-menu .logout{background: #0e0e0e;}
.top-profile .notify .user-notification .head-box{border-bottom: 1px solid #0e0e0e;}
.head-box .tabs-sm .tab.active:after, .head-box .tabs-sm .tab:hover:after{background:#0e0e0e;}

.user-notification .body-box .items .item.old .info .name{color: #525252;}
.tooltipster-sidetip .tooltipster-content .actions .favourite .dropdown-menu{border: none;}

.user-menu{background: #1c1c1c;}
.bg-secondary{background: #1c1c1c!important;}
.user-sidebar{background: #1c1c1c;}
.user-actions{background: #111111;}
.user-info .level{color: #ccc;}

.user-menu a{color: #ccc;}
.user-menu a.active, .user-menu a:hover{color:#fff;}
.user-menu a.active span, .user-menu a:hover span{color:#fff;}
.user-menu span{color: #ccc;}

.form-control:focus{background-color:#141414;color: #fff;}

.profile-container .form-group label{color: #fff;}
.meta span{color: #ccc;}
.user-actions a{color: white}
.form-control:disabled, .form-control[readonly]{background-color:#0e0e0e;color: #B7B7B7;}

.btn.clear{color: #ccc;}
.btn-light2{background-color: #5a2e98;border: none;color: #fff;}
.btn-light2:hover{background-color: #6230ad;border: none;color: #fff;}

.user-info .avatar span{outline: 5px solid #5a2e98}
.nav-link{color: #ccc;}
.nav-link.active, .nav-link:hover{color:#fff}
.btn-light{background-color: #5a2e98;border:none;}
.btn-light:hover{background-color: #6230ad;border:none;}
.avatar.items .item span.active, .avatar.items .item span:hover{outline: 4px solid #5a2e98;}

.ani.items .no-item{color: #ccc;}

.watchlist.items{background: #1c1c1c;}
.watchlist.items .item .info .name a{color: #ccc}
.watchlist.items .item .info .name a:hover{color: #fff}
.watchlist.items .item.highlight .current{color: #5a2e98;}
.folder-text-2{color: #5a2e98;}

.user-nav-folders a.folder{color: #6230ad;}
.user-nav-folders a.folder:hover{color: #ccc;}
.dropdown-divider, .dropdown-menu>li.divider{border-top: 1px solid #525252;}
.watchlist.items .item+.item {border-top: 1px solid #525252;}

.side.items .item .info .relation{color: #6230ad;}

.head-box .tabs-sm .tab.active:after, .head-box .tabs-sm .tab:hover:after {background: #525252;}
.user-notification .body-box .items .item.old .text-focus{color: #6230ad;}
.user-notification .body-box .items .item .text-focus{color: #6230ad;}

.user-notification .body-box .items .item:hover{background:#282033;}

.custom-file-label::after{background-color:#5a2e98;color: #fff;}
.custom-file-input{background-color: #5a2e98;}
.custom-control-input:checked~.custom-control-label::before{background-color:#5a2e98;border-color: #5a2e98;}
.custom-radio .custom-control-label::before{background-color:#0e0e0e;border-color: #0e0e0e;}
.custom-file-label{background: #3D2368;border-color: #1c1c1c;}
.custom-file:hover .custom-file-label::after{background-color: #834ED3;}

#w-episodes .body .episodes.number ul li a{background: #141414; color:#ccc;}
#w-episodes .body .episodes.number ul li a:visited{background:#3D2368; color: #ccc;}
#w-episodes .body .episodes.number ul li a:hover, #w-episodes .body .episodes.number ul li a.active{background: #5a2e98; color: #fff;}

#comment-rules{background: #1c1c1c;}
#comment-rules .head{color: #5a2e98;}

.ani.items .item .poster .meta.playing .progress>span{background: #3D2368;}

.bg-ssp-6510{display:none;}
.bg-dsp-space.bg-dsp-space-1256{display: none;}

.user-notification .body-box .items .no-result{color: #372057;}
.user-actions a:hover{color:#5a2e98;}

.w2g-item>.inner{background: #1c1c1c;}
.w2g-item .room .info .name{color: #fff;}
.w2g-item .room .info .created time{color: #525252;}
.w2g-item .room .info .created strong{color: #525252;}
.w2g-item .screen .bg:after{background: rgba(113,58,191, 0.45);}
.mx-2{background: #5a2e98;color:#ccc;}
.alert, .alert-info{background: #5a2e98;color: #ccc;border:none;}
.fa-brands{color:#ccc;}

.donate-box{background: #1c1c1c;border: 7px solid #0A0A0A;}
.donate-box .address{background: #0e0e0e;border:2px solid #0F0F0F ;}

.donate-box .address .action>div{color: #5a2e98;border-color: #5a2e98;}
.donate-box .address .action>div:hover{color: #ccc;border-color: #5a2e98;}

.donate-box .address .info .addr{color: #3D2368;}

.tooltipster-sidetip{margin-left:97px;margin-top:-87px;}
header #menu>ul>li>ul+a:after{color:#6230ad;width:6px;}

section#top-anime .side.items .inner:hover{background:#2c2c2c;}
section.adx .remove{display: none;}

.ep-status.dub:before{background:#c39d00;}
.ep-status.sub{background:#5a2e98;}
.ep-status.sub:before{background:#5a2e98;}
.ep-status.total:before{background:#525252;}

.tooltipster-sidetip .tooltipster-content .actions .favourite span{background: #5a2e98;color: #fff;}

section .head .more{color: #ccc;}
section .head .more:hover{color: #5a2e98;}

.ani.items.mode2 .item .info{background: #1c1c1c;}
.ani.items .item .info .name{color: #ccc;}

.ani.items .item .info .name{color: #fff;}
.ani.items.mode2 .item .info .meta .m-item span{color: #525252;}
.ani.items.mode2 .item .info .meta .m-item label{color: #626262;}
.ani.items.mode2 .item .info .genre a{color: #8B72B2;}
.ani.items.mode2 .item .info .genre a:hover{color: #5a2e98;}

ul.az-filters li a{background:#1c1c1c;color: #ccc;}
ul.az-filters li a:hover, ul.az-filters li a.active{background:#5a2e98;color: #fff;}
#w-episodes .body .episodes.name ul li a.active, #w-episodes .body .episodes.name ul li a.active:visited{background:#5a2e98; color: #fff;}
#w-episodes .body .episodes.number ul li a.active, #w-episodes .body .episodes.number ul li a.active:visited{background:#5a2e98; color: #fff;}
#w-episodes .body .episodes.number ul li a.filler {background: #282033;color: #ccc;}
#w-episodes .body .episodes.number ul li a.filler:visited{background:#3D2368;color: #ccc;}

#w-episodes .filter .btn-secondary{background: #0e0e0e;}
#w-episodes .filter .form-control{background: #0e0e0e;}
#w-episodes .filter .dropdown-item{background: #0e0e0e;}
#w-episodes .filter .dropdown-menu{background: #0e0e0e;}

#w-seasons .seasons .season a .name{color:#fff}
#w-seasons .seasons .season a:before{background:#5a2e98}
#w-seasons .seasons .season a:hover:after, #w-seasons .seasons .season.active a:after{border-color:#5a2e98;}
#w-seasons .seasons .season a:after{border-color:#3D2368;}
#w-seasons .seasons .season a:hover:before, #w-seasons .seasons .season.active a:before{opacity: 0.4;}

#i-wrapper .i-gohome a{background-color: #5a2e98;color: #fff;}
#i-wrapper .i-gohome a:hover{background-color: #6230ad;color: #fff;}
#i-wrapper .i-gohome{background: url();}
#i-wrapper #i-top{background: url();background-color: #0e0e0e;}
body.index{background: #1c1c1c;}

#i-wrapper ul#i-menu li a{color: #ccc;}
#i-wrapper ul#i-menu li a:hover{color: #5a2e98;}

section.top-table .body .items .item:hover .dot+.dot:before, .swiper-pagination-bullet{background: #ccc;}

.ani.items.mode2 .item .info:hover{background: #2c2c2c;}
section.top-table .body .items .item:hover .ep-status.sub, section.top-table .body .items .item:hover .ep-status.sub:before{background: #3D2368;}
//0.9 End
.ani.items .item .poster .release-status.info{margin-left: -14px;margin-top: -24px;padding-bottom: 1px;padding-right: 20px;background: #5a2e98;color: #ccc;}
.user-notification .body-box .items .item:nth-child(2n) {background:#2c2c2c;}

.custom-control-label::before{background: #0e0e0e;border-color: #0e0e0e;}
.custom-switch .custom-control-input:checked~.custom-control-label::after{background: #3D2368;} 
.custom-switch .custom-control-input~.custom-control-label::after{background: #2c2c2c;} 
.custom-control-input:not(:disabled):active~.custom-control-label::before{background: #282033;border-color: #282033;}
.custom-control-input:not(:disabled):active~.custom-control-label::after{background: #3D2368;}

.btn-light2:not(:disabled):not(.disabled).active, .btn-light2:not(:disabled):not(.disabled):active, .show>.btn-light2.dropdown-toggle{background:#3D2368;border-color: #3D2368;color: #ccc;}

.custom-control-label::before{border: none;}

.w2g-item .screen .anime .inner .info .status{background: #282033;}
.w2g-item:hover>.inner{background: #282033;}
.w2g-item.live .screen .anime .inner .status{background: #5a2e98;}
.w2g-item.live .screen .anime .inner .status span{color: #ccc;}
.current-episode-name{color: #525252}
.tabs .tab.active .current-episode-name{color:#0e0e0e;}

.dropdown-item.active, .dropdown-item:active{background: #282033; color: #ccc;}
}
